{% extends "base.html" %}

{% block app_content %}
<div class="page-header">
    <h1>供应商 -  详情</h1>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">供应商详情</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">供应商：</div>
            <div class="col-md-4">{{ data.supplier }}</div>
        </div>
        <div class="row">
            <div class="col-md-2">描述：</div>
            <div class="col-md-4">{{ data.description }}</div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="btn-group" role="group" aria-label="...">
            <a class="btn btn-success" href="{{ url_for('supplier.index') }}">供应商列表</a>
            <a class="btn btn-success" href="{{ url_for('supplier.add') }}">添加供应商</a>
            <a class="btn btn-success" href="{{ url_for('supplier.update', token=data.id) }}">修改供应商</a>
            <a class="btn btn-success" href="{{ url_for('supplier.delete', token=data.id) }}">删除供应商</a>
        </div>
    </div>
</div>
{% endblock %}
